@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, rgba(26, 28, 42, 0.8) 25%, rgba(52, 58, 75, 0.5) 100%),
    url(https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100vh;
}

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* color:white */
}

a {
  color: inherit;
  transition: color 0.2s;
  color: #ddd;
}
a:hover {
  color: gray;
}

* {
  box-sizing: border-box;
}

.backgroundLogin {
  background-color: linear-gradient(131.84deg, #0082be 3.54%, #6a2875 80.18%);
}

/* width */
.customScrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.customScrollbar::-webkit-scrollbar-track {
  background: #ffffff1a;
}

/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.rec-item-wrapper {
  max-width: 136px;
}
.rec-swipable {
  justify-content: center;
}
